In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# hepatitis

In [71]:
df = pd.read_csv('HepatitisCdata.csv')

In [72]:
df.head()

   Unnamed: 0       Category  Age Sex   ALB  ...    CHE  CHOL   CREA   GGT  PROT
0           1  0=Blood Donor   32   m  38.5  ...   6.93  3.23  106.0  12.1  69.0
1           2  0=Blood Donor   32   m  38.5  ...  11.17  4.80   74.0  15.6  76.5
2           3  0=Blood Donor   32   m  46.9  ...   8.84  5.20   86.0  33.2  79.3
3           4  0=Blood Donor   32   m  43.2  ...   7.33  4.74   80.0  33.8  75.7
4           5  0=Blood Donor   32   m  39.2  ...   9.15  4.32   76.0  29.9  68.7

[5 rows x 14 columns]

In [73]:
df['Category'].unique()

array(['0=Blood Donor', '0s=suspect Blood Donor', '1=Hepatitis',
       '2=Fibrosis', '3=Cirrhosis'], dtype=object)

In [74]:
df["Category"].replace({
    "0=Blood Donor": 1, 
    "0s=suspect Blood Donor": 2,
    "1=Hepatitis": 3,
    "2=Fibrosis": 4,
    "3=Cirrhosis": 5
}, inplace=True)
df["Sex"].replace({
    "m": True,
    "f": False
}, inplace=True)
df = df.drop(['Unnamed: 0'], 1)

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  615 non-null    int64
 1   Age       615 non-null    int64
 2   Sex       615 non-null    bool
 3   ALB       614 non-null    float64
 4   ALP       597 non-null    float64
 5   ALT       614 non-null    float64
 6   AST       615 non-null    float64
 7   BIL       615 non-null    float64
 8   CHE       615 non-null    float64
 9   CHOL      605 non-null    float64
 10  CREA      615 non-null    float64
 11  GGT       615 non-null    float64
 12  PROT      614 non-null    float64
dtypes: bool(1), float64(10), int64(2)
memory usage: 58.4 KB

In [76]:
df.describe()

         Category         Age         ALB  ...         CREA         GGT        PROT
count  615.000000  615.000000  614.000000  ...   615.000000  615.000000  614.000000
mean     1.386992   47.408130   41.620195  ...    81.287805   39.533171   72.044137
std      1.052294   10.055105    5.780629  ...    49.756166   54.661071    5.402636
min      1.000000   19.000000   14.900000  ...     8.000000    4.500000   44.800000
25%      1.000000   39.000000   38.800000  ...    67.000000   15.700000   69.300000
50%      1.000000   47.000000   41.950000  ...    77.000000   23.300000   72.200000
75%      1.000000   54.000000   45.200000  ...    88.000000   40.200000   75.400000
max      5.000000   77.000000   82.200000  ...  1079.100000  650.900000   90.000000

[8 rows x 12 columns]

In [77]:
df = df.dropna()

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 589 entries, 0 to 612
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  589 non-null    int64
 1   Age       589 non-null    int64
 2   Sex       589 non-null    bool
 3   ALB       589 non-null    float64
 4   ALP       589 non-null    float64
 5   ALT       589 non-null    float64
 6   AST       589 non-null    float64
 7   BIL       589 non-null    float64
 8   CHE       589 non-null    float64
 9   CHOL      589 non-null    float64
 10  CREA      589 non-null    float64
 11  GGT       589 non-null    float64
 12  PROT      589 non-null    float64
dtypes: bool(1), float64(10), int64(2)
memory usage: 60.4 KB

In [79]:
df.describe()

         Category         Age         ALB  ...         CREA         GGT        PROT
count  589.000000  589.000000  589.000000  ...   589.000000  589.000000  589.000000
mean     1.303905   47.417657   41.624278  ...    81.669100   38.198472   71.890153
std      0.944552    9.931334    5.761794  ...    50.696991   54.302407    5.348883
min      1.000000   23.000000   14.900000  ...     8.000000    4.500000   44.800000
25%      1.000000   39.000000   38.800000  ...    68.000000   15.600000   69.300000
50%      1.000000   47.000000   41.900000  ...    77.000000   22.800000   72.100000
75%      1.000000   54.000000   45.100000  ...    89.000000   37.600000   75.200000
max      5.000000   77.000000   82.200000  ...  1079.100000  650.900000   86.500000

[8 rows x 12 columns]

In [80]:
df = df.reset_index()

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589 entries, 0 to 588
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     589 non-null    int64
 1   Category  589 non-null    int64
 2   Age       589 non-null    int64
 3   Sex       589 non-null    bool
 4   ALB       589 non-null    float64
 5   ALP       589 non-null    float64
 6   ALT       589 non-null    float64
 7   AST       589 non-null    float64
 8   BIL       589 non-null    float64
 9   CHE       589 non-null    float64
 10  CHOL      589 non-null    float64
 11  CREA      589 non-null    float64
 12  GGT       589 non-null    float64
 13  PROT      589 non-null    float64
dtypes: bool(1), float64(10), int64(3)
memory usage: 60.5 KB

In [82]:
training_data, testing_data = train_test_split(df, test_size=0.2, random_state=25, shuffle=True)

In [83]:
training_data.to_csv('hepatitis_train.csv', index=False)

In [84]:
testing_data.to_csv('hepatitis_test.csv', index=False)

# Dermatology

In [26]:
df = pd.read_csv('dermatology.csv')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 35 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   erythema                                  366 non-null    int64
 1   scaling                                   366 non-null    int64
 2   definite_borders                          366 non-null    int64
 3   itching                                   366 non-null    int64
 4   koebner_phenomenon                        366 non-null    int64
 5   polygonal_papules                         366 non-null    int64
 6   follicular_papules                        366 non-null    int64
 7   oral_mucosal_involvement                  366 non-null    int64
 8   knee_and_elbow_involvement                366 non-null    int64
 9   scalp_involvement                         366 non-null    int64
 10  family_history                            366 non-null    int64
 11  melanin_incontinence                      366 non-null    int64
 12  eosinophils_in_the_infiltrate             366 non-null    int64
 13  pnl_infiltrate                            366 non-null    int64
 14  fibrosis_of_the_papillary_dermis          366 non-null    int64
 15  exocytosis                                366 non-null    int64
 16  acanthosis                                366 non-null    int64
 17  hyperkeratosis                            366 non-null    int64
 18  parakeratosis                             366 non-null    int64
 19  clubbing_of_the_rete_ridges               366 non-null    int64
 20  elongation_of_the_rete_ridges             366 non-null    int64
 21  thinning_of_the_suprapapillary_epidermis  366 non-null    int64
 22  spongiform_pustule                        366 non-null    int64
 23  munro_microabcess                         366 non-null    int64
 24  focal_hypergranulosis                     366 non-null    int64
 25  disappearance_of_the_granular_layer       366 non-null    int64
 26  vacuolisation_and_damage_of_basal_layer   366 non-null    int64
 27  spongiosis                                366 non-null    int64
 28  saw-tooth_appearance_of_retes             366 non-null    int64
 29  follicular_horn_plug                      366 non-null    int64
 30  perifollicular_parakeratosis              366 non-null    int64
 31  inflammatory_monoluclear_inflitrate       366 non-null    int64
 32  band-like_infiltrate                      366 non-null    int64
 33  age                                       358 non-null    float64
 34  class                                     366 non-null    int64
dtypes: float64(1), int64(34)
memory usage: 100.2 KB

In [28]:
df = df.dropna()

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 358 entries, 0 to 365
Data columns (total 35 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   erythema                                  358 non-null    int64
 1   scaling                                   358 non-null    int64
 2   definite_borders                          358 non-null    int64
 3   itching                                   358 non-null    int64
 4   koebner_phenomenon                        358 non-null    int64
 5   polygonal_papules                         358 non-null    int64
 6   follicular_papules                        358 non-null    int64
 7   oral_mucosal_involvement                  358 non-null    int64
 8   knee_and_elbow_involvement                358 non-null    int64
 9   scalp_involvement                         358 non-null    int64
 10  family_history                            358 non-null    int64
 11  melanin_incontinence                      358 non-null    int64
 12  eosinophils_in_the_infiltrate             358 non-null    int64
 13  pnl_infiltrate                            358 non-null    int64
 14  fibrosis_of_the_papillary_dermis          358 non-null    int64
 15  exocytosis                                358 non-null    int64
 16  acanthosis                                358 non-null    int64
 17  hyperkeratosis                            358 non-null    int64
 18  parakeratosis                             358 non-null    int64
 19  clubbing_of_the_rete_ridges               358 non-null    int64
 20  elongation_of_the_rete_ridges             358 non-null    int64
 21  thinning_of_the_suprapapillary_epidermis  358 non-null    int64
 22  spongiform_pustule                        358 non-null    int64
 23  munro_microabcess                         358 non-null    int64
 24  focal_hypergranulosis                     358 non-null    int64
 25  disappearance_of_the_granular_layer       358 non-null    int64
 26  vacuolisation_and_damage_of_basal_layer   358 non-null    int64
 27  spongiosis                                358 non-null    int64
 28  saw-tooth_appearance_of_retes             358 non-null    int64
 29  follicular_horn_plug                      358 non-null    int64
 30  perifollicular_parakeratosis              358 non-null    int64
 31  inflammatory_monoluclear_inflitrate       358 non-null    int64
 32  band-like_infiltrate                      358 non-null    int64
 33  age                                       358 non-null    float64
 34  class                                     358 non-null    int64
dtypes: float64(1), int64(34)
memory usage: 100.7 KB

In [30]:
df.head()

   erythema  scaling  definite_borders  ...  band-like_infiltrate   age  class
0         2        2                 0  ...                     0  55.0      2
1         3        3                 3  ...                     0   8.0      1
2         2        1                 2  ...                     3  26.0      3
3         2        2                 2  ...                     0  40.0      1
4         2        3                 2  ...                     3  45.0      3

[5 rows x 35 columns]

In [31]:
training_data, testing_data = train_test_split(df, test_size=0.2, random_state=25, shuffle=True)
training_data.to_csv('dermatology_train.csv', index=False)
training_data.to_csv('dermatology_test.csv', index=False)

In [33]:
training_data['class'].value_counts()

1    92
3    57
2    49
4    39
5    34
6    15
Name: class, dtype: int64

# hcc survival

In [ ]:
df = pd.read_csv('hcc-survival.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 50 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   1.Gen          165 non-null    int64
 1   2.Sym          165 non-null    object
 2   3.Alc          165 non-null    int64
 3   4.HepB         165 non-null    object
 4   5.HepB         165 non-null    object
 5   6.HepB         165 non-null    object
 6   7.HepC         165 non-null    object
 7   8.Cir          165 non-null    int64
 8   9.End          165 non-null    object
 9   10.Smo         165 non-null    object
 10  11.Dia         165 non-null    object
 11  12.Obe         165 non-null    object
 12  13.Hem         165 non-null    object
 13  14.Art         165 non-null    object
 14  15.CRen        165 non-null    object
 15  16.HIV         165 non-null    object
 16  17.Non         165 non-null    object
 17  18.EVar        165 non-null    object
 18  19.Spl         165 non-null    object
 19  20.PHyp        165 non-null    object
 20  21.Thr         165 non-null    object
 21  22.LMet        165 non-null    object
 22  23.Rad         165 non-null    object
 23  24.Agedia      165 non-null    int64
 24  25.Alcpd       165 non-null    object
 25  26.cigpy       165 non-null    object
 26  27.Sta         165 non-null    int64
 27  28.Encdeg      165 non-null    object
 28  29.Ascdeg      165 non-null    object
 29   30.IntNorRat  165 non-null    object
 30   31.Alp        165 non-null    object
 31   32.Hae        165 non-null    object
 32   33.MCorVol    165 non-null    object
 33   34.Leu        165 non-null    object
 34  35.Plat        165 non-null    object
 35  36.Alb         165 non-null    object
 36  37.Bil         165 non-null    object
 37  38.Ala         165 non-null    object
 38  39.Aspa        165 non-null    object
 39  40.Gam         165 non-null    object
 40  41.Alk         165 non-null    object
 41  42.Prot        165 non-null    object
 42  43.Crea        165 non-null    object
 43  44.NNod        165 non-null    object
 44  45.dnod        165 non-null    object
 45  46.Bil         165 non-null    object
 46  47.Iro         165 non-null    object
 47  48.Oxy         165 non-null    object
 48  49.Fer         165 non-null    object
 49  Class          165 non-null    int64
dtypes: int64(6), object(44)
memory usage: 64.6+ KB

In [ ]:
df = df.replace('?', np.nan)
df = df.dropna()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 2 to 122
Data columns (total 50 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   1.Gen          8 non-null      int64
 1   2.Sym          8 non-null      object
 2   3.Alc          8 non-null      int64
 3   4.HepB         8 non-null      object
 4   5.HepB         8 non-null      object
 5   6.HepB         8 non-null      object
 6   7.HepC         8 non-null      object
 7   8.Cir          8 non-null      int64
 8   9.End          8 non-null      object
 9   10.Smo         8 non-null      object
 10  11.Dia         8 non-null      object
 11  12.Obe         8 non-null      object
 12  13.Hem         8 non-null      object
 13  14.Art         8 non-null      object
 14  15.CRen        8 non-null      object
 15  16.HIV         8 non-null      object
 16  17.Non         8 non-null      object
 17  18.EVar        8 non-null      object
 18  19.Spl         8 non-null      object
 19  20.PHyp        8 non-null      object
 20  21.Thr         8 non-null      object
 21  22.LMet        8 non-null      object
 22  23.Rad         8 non-null      object
 23  24.Agedia      8 non-null      int64
 24  25.Alcpd       8 non-null      object
 25  26.cigpy       8 non-null      object
 26  27.Sta         8 non-null      int64
 27  28.Encdeg      8 non-null      object
 28  29.Ascdeg      8 non-null      object
 29   30.IntNorRat  8 non-null      object
 30   31.Alp        8 non-null      object
 31   32.Hae        8 non-null      object
 32   33.MCorVol    8 non-null      object
 33   34.Leu        8 non-null      object
 34  35.Plat        8 non-null      object
 35  36.Alb         8 non-null      object
 36  37.Bil         8 non-null      object
 37  38.Ala         8 non-null      object
 38  39.Aspa        8 non-null      object
 39  40.Gam         8 non-null      object
 40  41.Alk         8 non-null      object
 41  42.Prot        8 non-null      object
 42  43.Crea        8 non-null      object
 43  44.NNod        8 non-null      object
 44  45.dnod        8 non-null      object
 45  46.Bil         8 non-null      object
 46  47.Iro         8 non-null      object
 47  48.Oxy         8 non-null      object
 48  49.Fer         8 non-null      object
 49  Class          8 non-null      int64
dtypes: int64(6), object(44)
memory usage: 3.2+ KB

# Thyroid

In [2]:
df = pd.read_csv('thyroid-dataset.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3772 entries, 0 to 3771
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        3772 non-null   object
 1   sex                        3772 non-null   object
 2   on thyroxine               3772 non-null   object
 3   query on thyroxine         3772 non-null   object
 4   on antithyroid medication  3772 non-null   object
 5   sick                       3772 non-null   object
 6   pregnant                   3772 non-null   object
 7   thyroid surgery            3772 non-null   object
 8   I131 treatment             3772 non-null   object
 9   query hypothyroid          3772 non-null   object
 10  query hyperthyroid         3772 non-null   object
 11  lithium                    3772 non-null   object
 12  goitre                     3772 non-null   object
 13  tumor                      3772 non-null   object
 14  hypopituitary              3772 non-null   object
 15  psych                      3772 non-null   object
 16  TSH measured               3772 non-null   object
 17  TSH                        3772 non-null   object
 18  T3 measured                3772 non-null   object
 19  T3                         3772 non-null   object
 20  TT4 measured               3772 non-null   object
 21  TT4                        3772 non-null   object
 22  T4U measured               3772 non-null   object
 23  T4U                        3772 non-null   object
 24  FTI measured               3772 non-null   object
 25  FTI                        3772 non-null   object
 26  TBG measured               3772 non-null   object
 27  TBG                        3772 non-null   object
 28  referral source            3772 non-null   object
 29  binaryClass                3772 non-null   object
dtypes: object(30)
memory usage: 884.2+ KB

In [4]:
df = df.replace('?', np.nan)
# df = df.dropna()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3772 entries, 0 to 3771
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        3771 non-null   object
 1   sex                        3622 non-null   object
 2   on thyroxine               3772 non-null   object
 3   query on thyroxine         3772 non-null   object
 4   on antithyroid medication  3772 non-null   object
 5   sick                       3772 non-null   object
 6   pregnant                   3772 non-null   object
 7   thyroid surgery            3772 non-null   object
 8   I131 treatment             3772 non-null   object
 9   query hypothyroid          3772 non-null   object
 10  query hyperthyroid         3772 non-null   object
 11  lithium                    3772 non-null   object
 12  goitre                     3772 non-null   object
 13  tumor                      3772 non-null   object
 14  hypopituitary              3772 non-null   object
 15  psych                      3772 non-null   object
 16  TSH measured               3772 non-null   object
 17  TSH                        3403 non-null   object
 18  T3 measured                3772 non-null   object
 19  T3                         3003 non-null   object
 20  TT4 measured               3772 non-null   object
 21  TT4                        3541 non-null   object
 22  T4U measured               3772 non-null   object
 23  T4U                        3385 non-null   object
 24  FTI measured               3772 non-null   object
 25  FTI                        3387 non-null   object
 26  TBG measured               3772 non-null   object
 27  TBG                        0 non-null      float64
 28  referral source            3772 non-null   object
 29  binaryClass                3772 non-null   object
dtypes: float64(1), object(29)
memory usage: 884.2+ KB

In [6]:
df = df.drop(['TBG'], 1)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3772 entries, 0 to 3771
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        3771 non-null   object
 1   sex                        3622 non-null   object
 2   on thyroxine               3772 non-null   object
 3   query on thyroxine         3772 non-null   object
 4   on antithyroid medication  3772 non-null   object
 5   sick                       3772 non-null   object
 6   pregnant                   3772 non-null   object
 7   thyroid surgery            3772 non-null   object
 8   I131 treatment             3772 non-null   object
 9   query hypothyroid          3772 non-null   object
 10  query hyperthyroid         3772 non-null   object
 11  lithium                    3772 non-null   object
 12  goitre                     3772 non-null   object
 13  tumor                      3772 non-null   object
 14  hypopituitary              3772 non-null   object
 15  psych                      3772 non-null   object
 16  TSH measured               3772 non-null   object
 17  TSH                        3403 non-null   object
 18  T3 measured                3772 non-null   object
 19  T3                         3003 non-null   object
 20  TT4 measured               3772 non-null   object
 21  TT4                        3541 non-null   object
 22  T4U measured               3772 non-null   object
 23  T4U                        3385 non-null   object
 24  FTI measured               3772 non-null   object
 25  FTI                        3387 non-null   object
 26  TBG measured               3772 non-null   object
 27  referral source            3772 non-null   object
 28  binaryClass                3772 non-null   object
dtypes: object(29)
memory usage: 854.7+ KB

In [8]:
df = df.dropna()

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2643 entries, 0 to 3771
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        2643 non-null   object
 1   sex                        2643 non-null   object
 2   on thyroxine               2643 non-null   object
 3   query on thyroxine         2643 non-null   object
 4   on antithyroid medication  2643 non-null   object
 5   sick                       2643 non-null   object
 6   pregnant                   2643 non-null   object
 7   thyroid surgery            2643 non-null   object
 8   I131 treatment             2643 non-null   object
 9   query hypothyroid          2643 non-null   object
 10  query hyperthyroid         2643 non-null   object
 11  lithium                    2643 non-null   object
 12  goitre                     2643 non-null   object
 13  tumor                      2643 non-null   object
 14  hypopituitary              2643 non-null   object
 15  psych                      2643 non-null   object
 16  TSH measured               2643 non-null   object
 17  TSH                        2643 non-null   object
 18  T3 measured                2643 non-null   object
 19  T3                         2643 non-null   object
 20  TT4 measured               2643 non-null   object
 21  TT4                        2643 non-null   object
 22  T4U measured               2643 non-null   object
 23  T4U                        2643 non-null   object
 24  FTI measured               2643 non-null   object
 25  FTI                        2643 non-null   object
 26  TBG measured               2643 non-null   object
 27  referral source            2643 non-null   object
 28  binaryClass                2643 non-null   object
dtypes: object(29)
memory usage: 619.5+ KB

In [10]:
df.head()

  age sex on thyroxine  ... TBG measured referral source binaryClass
0  41   F            f  ...            f            SVHC           P
4  70   F            f  ...            f             SVI           P
7  80   F            f  ...            f             SVI           P
8  66   F            f  ...            f             SVI           P
9  68   M            f  ...            f             SVI           P

[5 rows x 29 columns]

In [11]:
df["sex"].replace({"F": True, "M": False}, inplace=True)
df["on thyroxine"].replace({"t": True, "f": False}, inplace=True)
df["query on thyroxine"].replace({"t": True, "f": False}, inplace=True)
df["on antithyroid medication"].replace({"t": True, "f": False}, inplace=True)
df["sick"].replace({"t": True, "f": False}, inplace=True)
df["pregnant"].replace({"t": True, "f": False}, inplace=True)
df["thyroid surgery"].replace({"t": True, "f": False}, inplace=True)
df["I131 treatment"].replace({"t": True, "f": False}, inplace=True)
df["query hypothyroid"].replace({"t": True, "f": False}, inplace=True)
df["query hyperthyroid"].replace({"t": True, "f": False}, inplace=True)
df["lithium"].replace({"t": True, "f": False}, inplace=True)
df["goitre"].replace({"t": True, "f": False}, inplace=True)
df["tumor"].replace({"t": True, "f": False}, inplace=True)
df["hypopituitary"].replace({"t": True, "f": False}, inplace=True)
df["psych"].replace({"t": True, "f": False}, inplace=True)
df["TSH measured"].replace({"t": True, "f": False}, inplace=True)
df["T3 measured"].replace({"t": True, "f": False}, inplace=True)
df["TT4 measured"].replace({"t": True, "f": False}, inplace=True)
df["T4U measured"].replace({"t": True, "f": False}, inplace=True)
df["FTI measured"].replace({"t": True, "f": False}, inplace=True)
df["TBG measured"].replace({"t": True, "f": False}, inplace=True)
df["referral source"].replace({'SVHC': 1, 'SVI': 2, 'other': 3, 'SVHD': 4, 'STMW': 5}, inplace=True)
df["binaryClass"].replace({'P': True, 'N': False}, inplace=True)

In [12]:
df.head()

  age    sex  on thyroxine  ...  TBG measured  referral source  binaryClass
0  41   True         False  ...         False                1         True
4  70   True         False  ...         False                2         True
7  80   True         False  ...         False                2         True
8  66   True         False  ...         False                2         True
9  68  False         False  ...         False                2         True

[5 rows x 29 columns]

In [13]:
training_data, testing_data = train_test_split(df, test_size=0.2, random_state=42, shuffle=True)
training_data.to_csv('thyroid_train.csv', index=False)
training_data.to_csv('thyroid_test.csv', index=False)

In [25]:
testing_data['binaryClass'].value_counts()

True     476
False     53
Name: binaryClass, dtype: int64

# Chronic kidney disease

In [34]:
df = pd.read_csv('CKD_Preprocessed.csv')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Age (yrs)                       400 non-null    float64
 1   Blood Pressure (mm/Hg)          400 non-null    float64
 2   Specific Gravity                400 non-null    float64
 3   Albumin                         400 non-null    float64
 4   Sugar                           400 non-null    float64
 5   Blood Glucose Random (mgs/dL)   400 non-null    float64
 6   Blood Urea (mgs/dL)             400 non-null    float64
 7   Serum Creatinine (mgs/dL)       400 non-null    float64
 8   Sodium (mEq/L)                  400 non-null    float64
 9   Potassium (mEq/L)               400 non-null    float64
 10  Hemoglobin (gms)                400 non-null    float64
 11  Packed Cell Volume              400 non-null    float64
 12  White Blood Cells (cells/cmm)   400 non-null    float64
 13  Red Blood Cells (millions/cmm)  400 non-null    float64
 14  Red Blood Cells: normal         400 non-null    float64
 15  Pus Cells: normal               400 non-null    float64
 16  Pus Cell Clumps: present        400 non-null    float64
 17  Bacteria: present               400 non-null    float64
 18  Hypertension: yes               400 non-null    float64
 19  Diabetes Mellitus: yes          400 non-null    float64
 20  Coronary Artery Disease: yes    400 non-null    float64
 21  Appetite: poor                  400 non-null    float64
 22  Pedal Edema: yes                400 non-null    float64
 23  Anemia: yes                     400 non-null    float64
 24  Chronic Kidney Disease: yes     400 non-null    float64
dtypes: float64(25)
memory usage: 78.2 KB

In [37]:
df.head()

   Age (yrs)  Blood Pressure (mm/Hg)  ...  Anemia: yes  Chronic Kidney Disease: yes
0       48.0                    80.0  ...          0.0                          1.0
1        7.0                    50.0  ...          0.0                          1.0
2       62.0                    80.0  ...          1.0                          1.0
3       48.0                    70.0  ...          1.0                          1.0
4       51.0                    80.0  ...          0.0                          1.0

[5 rows x 25 columns]

In [42]:
df['Blood Glucose Random (mgs/dL)'].unique()

array([121.        ,  90.31658119, 423.        , 117.        ,
       106.        ,  74.        , 100.        , 410.        ,
       138.        ,  70.        , 490.        , 380.        ,
       208.        ,  98.        , 157.        ,  76.        ,
        99.        , 114.        , 263.        , 173.        ,
       266.89770827,  95.        , 113.        , 113.75703554,
       108.        , 156.        , 264.        , 123.        ,
       116.95287616,  93.        , 107.        , 159.        ,
       140.        , 171.        , 270.        ,  92.        ,
       137.        , 113.66529675, 204.        ,  79.        ,
       207.        , 124.        ,  91.        , 144.        ,
       162.        , 113.34866351, 246.        , 125.        ,
       212.69748943, 253.        , 208.55684418, 141.        ,
       182.        ,  86.        , 150.        , 146.        ,
        99.68628896, 425.        , 112.        , 250.        ,
       360.        , 163.        , 207.93003085, 129.        ,
        94.97345514, 133.        , 102.        , 158.        ,
       165.        , 132.        , 104.        , 127.        ,
       139.80058524, 415.        , 169.        , 251.        ,
       109.        , 280.        , 210.        , 219.        ,
       295.        ,  94.        , 172.        , 101.        ,
       298.        , 153.        ,  88.        , 226.        ,
       143.        , 115.        ,  89.        , 297.        ,
       233.        , 294.        , 111.        , 215.13942198,
       118.04126404, 118.        , 323.        ,  90.        ,
       308.        , 224.        , 128.        , 105.03633139,
       122.        , 214.        , 213.        , 268.        ,
       119.98230648, 256.        ,  84.        , 105.        ,
       160.37890132, 288.        , 139.        ,  78.        ,
       273.        , 242.        , 424.        , 303.        ,
       148.        , 160.        , 192.        , 247.07724322,
       307.        , 220.        , 447.        , 309.        ,
        22.        , 261.        , 215.        , 234.        ,
       131.        , 352.        ,  98.74887141,  80.        ,
       239.        , 110.        , 130.        , 184.        ,
       209.71599815, 252.        , 230.        , 341.        ,
       100.67244621, 255.        , 103.        , 133.55134811,
       238.        , 248.        , 120.        , 241.        ,
       269.        , 130.08155069, 119.        , 201.        ,
       203.        , 463.        , 176.        ,  82.        ,
        97.        ,  96.        ,  98.11362908,  81.        ,
       116.        , 134.        ,  85.        ,  83.        ,
        87.        , 109.24700352,  75.        ])

In [ ]:
df = df.drop('rbc', 1)
df = df.drop('rc', 1)

df = df.dropna()
df.head()

    id   age    bp     sg   al   su  ...   dm  cad appet   pe  ane  classification
3    3  48.0  70.0  1.005  4.0  0.0  ...   no   no  poor  yes  yes             ckd
9    9  53.0  90.0  1.020  2.0  0.0  ...  yes   no  poor   no  yes             ckd
11  11  63.0  70.0  1.010  3.0  0.0  ...  yes   no  poor  yes   no             ckd
12  12  68.0  70.0  1.015  3.0  1.0  ...  yes  yes  poor  yes   no             ckd
14  14  68.0  80.0  1.010  3.0  2.0  ...  yes  yes  poor  yes   no             ckd

[5 rows x 24 columns]

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Age (yrs)                       400 non-null    float64
 1   Blood Pressure (mm/Hg)          400 non-null    float64
 2   Specific Gravity                400 non-null    float64
 3   Albumin                         400 non-null    float64
 4   Sugar                           400 non-null    float64
 5   Blood Glucose Random (mgs/dL)   400 non-null    float64
 6   Blood Urea (mgs/dL)             400 non-null    float64
 7   Serum Creatinine (mgs/dL)       400 non-null    float64
 8   Sodium (mEq/L)                  400 non-null    float64
 9   Potassium (mEq/L)               400 non-null    float64
 10  Hemoglobin (gms)                400 non-null    float64
 11  Packed Cell Volume              400 non-null    float64
 12  White Blood Cells (cells/cmm)   400 non-null    float64
 13  Red Blood Cells (millions/cmm)  400 non-null    float64
 14  Red Blood Cells: normal         400 non-null    float64
 15  Pus Cells: normal               400 non-null    float64
 16  Pus Cell Clumps: present        400 non-null    float64
 17  Bacteria: present               400 non-null    float64
 18  Hypertension: yes               400 non-null    float64
 19  Diabetes Mellitus: yes          400 non-null    float64
 20  Coronary Artery Disease: yes    400 non-null    float64
 21  Appetite: poor                  400 non-null    float64
 22  Pedal Edema: yes                400 non-null    float64
 23  Anemia: yes                     400 non-null    float64
 24  Chronic Kidney Disease: yes     400 non-null    float64
dtypes: float64(25)
memory usage: 78.2 KB

In [44]:
training_data, testing_data = train_test_split(df, test_size=0.2, random_state=25)
training_data.to_csv('chronic_kidney_disease_train.csv', index=False)
training_data.to_csv('chronic_kidney_disease_test.csv', index=False)